.profile-image {
  height: 200px;
  width: 200px;
  margin-bottom: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.argon-image {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.sidebar-mini {
  text-transform: uppercase;
  width: 30px;
  margin-right: 15px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  float: left;
  display: initial;
}

.avatar-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.el-button--text {
  color: #adb5bd;
}

.el-button--text:hover {
  color: #adb5bd;
}

.navbar-nav .btn-danger .nav-link {
  color: white;
}

.navbar-nav .btn-info .nav-link {
  color: white;
}

.navbar-nav .btn-dark .nav-link {
  color: white;
}

.navbar-nav .btn-dark .nav-link:hover {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.navbar-nav .btn-danger .nav-link:hover {
  color: #fff;
}

.navbar-nav .btn-info .nav-link:hover {
  color: #fff;
}

.navbar-nav .nav-item.btn-danger .nav-link {
  padding: 0;
  padding-left: 0.5rem;
}
.navbar-nav .nav-item.btn-info .nav-link {
  padding: 0;
  padding-left: 0.5rem;
}
.navbar-nav .nav-item.btn-dark .nav-link {
  padding: 0;
  padding-left: 0.5rem;
}
.navbar-nav .nav-item.btn-neutral .nav-link {
  padding: 0;
  padding-left: 0.5rem;
}

.navbar-nav .btn-danger,
.btn-info,
.btn-dark,
.btn-warning,
.btn-danger,
.btn-neutral,
.btn-primary {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.navbar-nav .btn-neutral {
  color: #5e72e4;
}

.navbar-nav .btn-neutral:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.navbar-vertical .navbar-brand-img,
.navbar-vertical .navbar-brand > img {
  max-width: 100%;
  max-height: 3rem;
}

/* hidden Creative Tim*/
#ofBar{
  display: none !important;
  visibility: hidden !important;
}