<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="/news/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/news/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="/news/css/main.css">
    <script type="text/javascript" src="/news/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/news/js/jquery.pagination.min.js"></script>
</head>
<body class="inframe_body">
    <div class="my_collect">
        <h3>我的收藏</h3>
        <ul class="article_list">
            {{each collectionNewsList}}
            <li><a href="#">{{$value.title}}</a><span>{{$value.create_time | dateFormat}}</span></li>
            {{/each}}
        </ul>



        <div id="pagination" class="page"></div>
        <script>
            $(function() {
                $("#pagination").pagination({
                    // 后端传递的是字符串 我们转成数字
                    currentPage: Number({{ currentPage}}),
                    totalPage: Number({{ totalPage }}),
                    callback: function(current) {
                        location.href = 'http://localhost:3000/user/collections?p'+ currentPage;
                    }
                });
            });
        </script>

    </div>
</body>
</html>